*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Rosemary";

}


nav{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:25px;
    background: darkcyan;
}

ul {
display: flex;
list-style: none;
width: 25%;
justify-content: space-between;
}

main, footer {
    text-align: center;
    width: 1200px;
    margin: auto;
    background-color: skyblue;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.profile-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

#faoi {
    background-color: skyblue;
    margin: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

 h1 {
    font-size: 40px;
    font-weight: bold;
    color: blueviolet;
 }

 .wrap {
    float: left;
    margin: 10px;
 }

 .mainContent h4{

    font-size: 32px;
 }