*{
    /* margin: 0; */
    padding: 0;
    box-sizing: border-box;
    font-family: "Rosemary";

}


nav{
    display:flex;
    width:100%;
    justify-content: space-between;
    padding:25px;
    background: darkcyan;
}

ul {
display: flex;
list-style: none;
width: 25%;
justify-content: space-between;
}

main, footer{
    text-align: center;
    width: 1200px;
    margin: auto;
}

h4 {
    margin-top: 20px;
    margin-bottom: 20px;

}

.profile-item {
    margin-top: 50px;
    margin-bottom: 50px;
}